flows.json
[
    {
        "id": "8eab0a3c643bf6ac",
        "type": "tab",
        "label": "Bearer Token Authentication",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f8d98a8bcd1abe89",
        "type": "group",
        "z": "8eab0a3c643bf6ac",
        "name": "Devices",
        "style": {
            "label": true
        },
        "nodes": [
            "53582853cf894365",
            "e51a5a36f48595f2",
            "0a6a80f78db83902",
            "be145a87d0f9ed31",
            "4c6373056476d714",
            "286452fbf2bb89a8",
            "9eff3d8207985c45",
            "4d61ed1a0d509096",
            "e4efae5a0416559b",
            "0b59b5147c36e8e3",
            "fb631216c054d071",
            "ab559ee6616650e4",
            "c0913ae221e0aae6",
            "c0e14ed5320e33b2",
            "08864386c2adbc87"
        ],
        "x": 14,
        "y": 359,
        "w": 1352,
        "h": 202
    },
    {
        "id": "85f0a8ccb2e137f9",
        "type": "group",
        "z": "8eab0a3c643bf6ac",
        "name": "Token",
        "style": {
            "label": true
        },
        "nodes": [
            "dd9a228b504e8ed4",
            "106eacc2abe7b949",
            "e9af013e299f3822",
            "3b6fc4cac4e00324",
            "fea9c305df03f20b",
            "4452ea626de03264",
            "655e6c90f6c56fdf",
            "fab6ba3c81d800b6",
            "cee5170381dbcfea"
        ],
        "x": 14,
        "y": 159,
        "w": 1312,
        "h": 162
    },
    {
        "id": "bec69e86cd0143f6",
        "type": "group",
        "z": "8eab0a3c643bf6ac",
        "name": "Catch errors",
        "style": {
            "label": true
        },
        "nodes": [
            "7ada82d763464874",
            "d9ffd4fa43299976",
            "0e8196d8614cac87"
        ],
        "x": 14,
        "y": 19,
        "w": 652,
        "h": 102
    },
    {
        "id": "803e952a6482c9ec",
        "type": "group",
        "z": "8eab0a3c643bf6ac",
        "name": "Package Records",
        "style": {
            "label": true
        },
        "nodes": [
            "95c993db02c8d0e6",
            "fabb81e58f33c43b",
            "a6fef996028b87fa",
            "e772d3ec933e33ea",
            "e817333c9076e8dc",
            "633374ecd4636c54",
            "ddcc55230b0734d7",
            "543843c227a08779",
            "438a1ef390ea88d8",
            "580e16b5abdd46d4",
            "b6487f60490505c9",
            "2f01a6f9a03ab032",
            "18899c2688504e11",
            "f26b6e1f0c4a5849",
            "6a8e84c3b461e8a1",
            "cd9854e511e2da51"
        ],
        "x": 14,
        "y": 819,
        "w": 1332,
        "h": 322
    },
    {
        "id": "0346d96b42bc27b1",
        "type": "group",
        "z": "8eab0a3c643bf6ac",
        "name": "Production Lines",
        "style": {
            "label": true
        },
        "nodes": [
            "74eea60081e77078",
            "4e029ffa1e1ff8c8",
            "3275b0e1a403ace7",
            "8d95fa5d680ca63e",
            "bda26a1d71c2361e",
            "c9cd2a0af1544a77",
            "3c45294ec406e1d0",
            "a3543e10ae77a1b8",
            "22cb37e8560c7b3a",
            "380f85e9d66eb3bf",
            "d1eb5d49eeb349ec",
            "8e4d716089c72964",
            "2fa1b034c0bfeb84"
        ],
        "x": 14,
        "y": 599,
        "w": 1332,
        "h": 202
    },
    {
        "id": "d2df3ee586784503",
        "type": "ui_spacer",
        "z": "8eab0a3c643bf6ac",
        "name": "spacer",
        "group": "f2f686aa2b9f097c",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "b6ae1172792ff4d5",
        "type": "ui_spacer",
        "z": "8eab0a3c643bf6ac",
        "name": "spacer",
        "group": "f2f686aa2b9f097c",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "b35b991b388efa02",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "f2f686aa2b9f097c",
        "type": "ui_group",
        "name": "Devices",
        "tab": "65c5f36ea34fe529",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c885960ff9c5601",
        "type": "ui_group",
        "name": "Production Lines",
        "tab": "1760e0edd51dbc3b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aad64061aabbae8c",
        "type": "ui_group",
        "name": "Login",
        "tab": "395325b70f97b6f7",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8821f8eafdf5cf1e",
        "type": "ui_group",
        "name": "Select Application",
        "tab": "83728c03327c5a04",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1fe72b217c0fd98c",
        "type": "ui_group",
        "name": "Package records",
        "tab": "6464622b81bffdfb",
        "order": 1,
        "disp": true,
        "width": 31,
        "collapse": false,
        "className": ""
    },
    {
        "id": "65c5f36ea34fe529",
        "type": "ui_tab",
        "name": "Gx Devices",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1760e0edd51dbc3b",
        "type": "ui_tab",
        "name": "Production Lines",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "395325b70f97b6f7",
        "type": "ui_tab",
        "name": "Authenticate",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "83728c03327c5a04",
        "type": "ui_tab",
        "name": "Selection Page",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6464622b81bffdfb",
        "type": "ui_tab",
        "name": "Package Records",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6b2a3190c2503b6e",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "MM/DD/YY h:mm a",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7e4df793a2837b17",
        "type": "ui_spacer",
        "z": "8eab0a3c643bf6ac",
        "name": "spacer",
        "group": "1fe72b217c0fd98c",
        "order": 4,
        "width": 31,
        "height": 1
    },
    {
        "id": "ba2f85d61792c639",
        "type": "ui_spacer",
        "z": "8eab0a3c643bf6ac",
        "name": "spacer",
        "group": "1fe72b217c0fd98c",
        "order": 5,
        "width": 31,
        "height": 1
    },
    {
        "id": "4563ef1578f42335",
        "type": "ui_spacer",
        "z": "8eab0a3c643bf6ac",
        "name": "spacer",
        "group": "1fe72b217c0fd98c",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "6828095aed583015",
        "type": "ui_spacer",
        "z": "8eab0a3c643bf6ac",
        "name": "spacer",
        "group": "1fe72b217c0fd98c",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "31dc8fe6bb7dddf9",
        "type": "ui_spacer",
        "z": "8eab0a3c643bf6ac",
        "name": "spacer",
        "group": "1fe72b217c0fd98c",
        "order": 10,
        "width": 4,
        "height": 1
    },
    {
        "id": "4131e5fa159908d0",
        "type": "ui_spacer",
        "z": "8eab0a3c643bf6ac",
        "name": "spacer",
        "group": "1fe72b217c0fd98c",
        "order": 11,
        "width": 4,
        "height": 1
    },
    {
        "id": "bc434ac741f62f56",
        "type": "ui_spacer",
        "z": "8eab0a3c643bf6ac",
        "name": "spacer",
        "group": "1fe72b217c0fd98c",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "0742000c63559454",
        "type": "ui_spacer",
        "z": "8eab0a3c643bf6ac",
        "name": "spacer",
        "group": "1fe72b217c0fd98c",
        "order": 15,
        "width": 4,
        "height": 1
    },
    {
        "id": "4280d6b21917e184",
        "type": "ui_spacer",
        "z": "8eab0a3c643bf6ac",
        "name": "spacer",
        "group": "1fe72b217c0fd98c",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "373e248e2fdf80ca",
        "type": "ui_spacer",
        "z": "8eab0a3c643bf6ac",
        "name": "spacer",
        "group": "1fe72b217c0fd98c",
        "order": 17,
        "width": 4,
        "height": 1
    },
    {
        "id": "62e425c1185910db",
        "type": "ui_spacer",
        "z": "8eab0a3c643bf6ac",
        "name": "spacer",
        "group": "1fe72b217c0fd98c",
        "order": 18,
        "width": 4,
        "height": 1
    },
    {
        "id": "788b52c367c4071f",
        "type": "ui_spacer",
        "z": "8eab0a3c643bf6ac",
        "name": "spacer",
        "group": "1fe72b217c0fd98c",
        "order": 19,
        "width": 4,
        "height": 1
    },
    {
        "id": "dd9a228b504e8ed4",
        "type": "json",
        "z": "8eab0a3c643bf6ac",
        "g": "85f0a8ccb2e137f9",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 750,
        "y": 200,
        "wires": [
            [
                "106eacc2abe7b949"
            ]
        ]
    },
    {
        "id": "106eacc2abe7b949",
        "type": "function",
        "z": "8eab0a3c643bf6ac",
        "g": "85f0a8ccb2e137f9",
        "name": "set_bearer_token",
        "func": "flow.set(\"bearer_token\", \"Bearer \" + msg.payload.token);\nmsg.payload = flow.get(\"bearer_token\");\n\nswitch(msg.statusCode) {\n        case 401 : \n             msg.payload = \"Invalid credentials\";\n             msg.topic = \"rgba(255,0,0,1.1)\";\n            break; \n        case 200 :\n            msg.payload =  \"OK! Token obtained\";\n            msg.topic = \"rgba(60,158,63,1.1)\";\n        break;\n}\n//msg.payload = msg.statusCode;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 200,
        "wires": [
            [
                "fea9c305df03f20b"
            ]
        ]
    },
    {
        "id": "74eea60081e77078",
        "type": "function",
        "z": "8eab0a3c643bf6ac",
        "g": "0346d96b42bc27b1",
        "name": "header and url",
        "func": "msg.headers = {\n  'Authorization' : flow.get(\"bearer_token\")\n};\n\nmsg.url = \"https://\" + flow.get(\"ServerIP\") + \":9998/api/v1/production-lines\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 700,
        "wires": [
            [
                "4e029ffa1e1ff8c8"
            ]
        ]
    },
    {
        "id": "4e029ffa1e1ff8c8",
        "type": "http request",
        "z": "8eab0a3c643bf6ac",
        "g": "0346d96b42bc27b1",
        "name": "/api/v1/production-lines",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "b35b991b388efa02",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 700,
        "wires": [
            [
                "3275b0e1a403ace7"
            ]
        ]
    },
    {
        "id": "3275b0e1a403ace7",
        "type": "json",
        "z": "8eab0a3c643bf6ac",
        "g": "0346d96b42bc27b1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 700,
        "wires": [
            [
                "a3543e10ae77a1b8"
            ]
        ]
    },
    {
        "id": "7ada82d763464874",
        "type": "catch",
        "z": "8eab0a3c643bf6ac",
        "g": "bec69e86cd0143f6",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "d9ffd4fa43299976"
            ]
        ]
    },
    {
        "id": "d9ffd4fa43299976",
        "type": "debug",
        "z": "8eab0a3c643bf6ac",
        "g": "bec69e86cd0143f6",
        "name": "ERROR!",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "e9af013e299f3822",
        "type": "http request",
        "z": "8eab0a3c643bf6ac",
        "g": "85f0a8ccb2e137f9",
        "name": "/api/v1/token",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "b35b991b388efa02",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 200,
        "wires": [
            [
                "dd9a228b504e8ed4"
            ]
        ]
    },
    {
        "id": "53582853cf894365",
        "type": "function",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "header and url",
        "func": "msg.headers = {\n  'Authorization' : flow.get(\"bearer_token\")\n};\nmsg.url = \"https://\" + flow.get(\"ServerIP\") + \":9998/api/v1/devices\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 460,
        "wires": [
            [
                "e51a5a36f48595f2"
            ]
        ]
    },
    {
        "id": "e51a5a36f48595f2",
        "type": "http request",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "/api/v1/devices",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "b35b991b388efa02",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 600,
        "y": 460,
        "wires": [
            [
                "0a6a80f78db83902"
            ]
        ]
    },
    {
        "id": "0a6a80f78db83902",
        "type": "json",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 770,
        "y": 460,
        "wires": [
            [
                "be145a87d0f9ed31"
            ]
        ]
    },
    {
        "id": "95c993db02c8d0e6",
        "type": "function",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "Query",
        "func": "msg.headers = {\n  'Authorization' : flow.get(\"bearer_token\")\n};\nmsg.post = \"deviceName=\" + flow.get(\"device\") + \"&startDate=\" \n+ flow.get(\"startday\") +\"T\"+ flow.get(\"starttime\")+\n\"&endDate=\" \n+ flow.get(\"finishday\") +\"T\"+ flow.get(\"finishtime\") + \n\"&packageType=singlePackage&take=10000&sort=Identity-\";\n\nmsg.url = \"https://\" + flow.get(\"ServerIP\") \n+ \":9998/api/v1/package-records/?\" + msg.post;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 920,
        "wires": [
            [
                "fabb81e58f33c43b",
                "e817333c9076e8dc"
            ]
        ]
    },
    {
        "id": "fabb81e58f33c43b",
        "type": "http request",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "/api/v1/package-records",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "b35b991b388efa02",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 920,
        "wires": [
            [
                "a6fef996028b87fa",
                "e817333c9076e8dc"
            ]
        ]
    },
    {
        "id": "a6fef996028b87fa",
        "type": "json",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 920,
        "wires": [
            [
                "e772d3ec933e33ea"
            ]
        ]
    },
    {
        "id": "e772d3ec933e33ea",
        "type": "function",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "Prepare Table data",
        "func": "var packstemp = msg.payload.map(function (el) {\n    function getDevice(device) {\n        return device ? device.name : null;\n    } \n\n    function getActualNetWeight(actualNetWeight) {\n        return actualNetWeight ? actualNetWeight.value : null;\n    }\n\n    function getError(error) {\n        return error ? error.flag : null;\n    }\n\n    // Format the timestamp\n    var formattedTimestamp = new Date(el.timestamp).toLocaleString('en-US', { \n        year: 'numeric', \n        month: '2-digit', \n        day: '2-digit', \n        hour: '2-digit', \n        minute: '2-digit', \n        second: '2-digit'\n    });\n\n    return {\n        timestamp: formattedTimestamp,\n        articleNumber: el.articleNumber,\n        articleName: el.articleName,\n        customerNumber: el.customerNumber,\n        device: getDevice(el.device),\n        actualNetWeight: getActualNetWeight(el.actualNetWeight),\n        error: getError(el.error)\n    };\n});\n\n// Sort the data by timestamp\npackstemp.sort((a, b) => a.timestamp - b.timestamp);\n\nmsg.payload = packstemp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 920,
        "wires": [
            [
                "ddcc55230b0734d7",
                "543843c227a08779"
            ]
        ]
    },
    {
        "id": "e817333c9076e8dc",
        "type": "debug",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "Query",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 860,
        "wires": []
    },
    {
        "id": "be145a87d0f9ed31",
        "type": "function",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "dropdown",
        "func": "\nmsg.options = msg.payload.map(function(el) {\n    return el.name;\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 460,
        "wires": [
            [
                "286452fbf2bb89a8"
            ]
        ]
    },
    {
        "id": "4c6373056476d714",
        "type": "change",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 520,
        "wires": [
            [
                "286452fbf2bb89a8"
            ]
        ]
    },
    {
        "id": "286452fbf2bb89a8",
        "type": "ui_dropdown",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "",
        "label": "Devices",
        "tooltip": "",
        "place": "Select device",
        "group": "f2f686aa2b9f097c",
        "order": 1,
        "width": 6,
        "height": 2,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 1100,
        "y": 460,
        "wires": [
            [
                "c0913ae221e0aae6"
            ]
        ]
    },
    {
        "id": "9eff3d8207985c45",
        "type": "function",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "Clear dropdown",
        "func": "var e=[];\nmsg.payload= e;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 520,
        "wires": [
            [
                "4c6373056476d714"
            ]
        ]
    },
    {
        "id": "4d61ed1a0d509096",
        "type": "inject",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "Trigger reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 510,
        "y": 520,
        "wires": [
            [
                "9eff3d8207985c45"
            ]
        ]
    },
    {
        "id": "8d95fa5d680ca63e",
        "type": "ui_dropdown",
        "z": "8eab0a3c643bf6ac",
        "g": "0346d96b42bc27b1",
        "name": "",
        "label": "Production Lines",
        "tooltip": "",
        "place": "Select Line",
        "group": "7c885960ff9c5601",
        "order": 2,
        "width": 6,
        "height": 2,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1230,
        "y": 700,
        "wires": [
            [
                "2fa1b034c0bfeb84"
            ]
        ]
    },
    {
        "id": "bda26a1d71c2361e",
        "type": "change",
        "z": "8eab0a3c643bf6ac",
        "g": "0346d96b42bc27b1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 760,
        "wires": [
            [
                "8d95fa5d680ca63e"
            ]
        ]
    },
    {
        "id": "c9cd2a0af1544a77",
        "type": "function",
        "z": "8eab0a3c643bf6ac",
        "g": "0346d96b42bc27b1",
        "name": "Clear dropdown",
        "func": "var e=[];\nmsg.payload= e;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 760,
        "wires": [
            [
                "bda26a1d71c2361e"
            ]
        ]
    },
    {
        "id": "3c45294ec406e1d0",
        "type": "inject",
        "z": "8eab0a3c643bf6ac",
        "g": "0346d96b42bc27b1",
        "name": "Trigger reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 570,
        "y": 760,
        "wires": [
            [
                "c9cd2a0af1544a77"
            ]
        ]
    },
    {
        "id": "a3543e10ae77a1b8",
        "type": "function",
        "z": "8eab0a3c643bf6ac",
        "g": "0346d96b42bc27b1",
        "name": "name",
        "func": "\n// function to prepare options for dropdown menu\nmsg.options = msg.payload.map(function(el) {\n    return el.name;\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 700,
        "wires": [
            [
                "8d95fa5d680ca63e"
            ]
        ]
    },
    {
        "id": "3b6fc4cac4e00324",
        "type": "ui_form",
        "z": "8eab0a3c643bf6ac",
        "g": "85f0a8ccb2e137f9",
        "name": "",
        "label": "Enter 172.28.184.36",
        "group": "aad64061aabbae8c",
        "order": 1,
        "width": 6,
        "height": 1,
        "options": [
            {
                "label": "Brain2 server",
                "value": "host",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "Brain2 User",
                "value": "userName",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "host": "",
            "userName": "",
            "password": ""
        },
        "payload": "",
        "submit": "Send",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "cee5170381dbcfea"
            ]
        ]
    },
    {
        "id": "fea9c305df03f20b",
        "type": "ui_toast",
        "z": "8eab0a3c643bf6ac",
        "g": "85f0a8ccb2e137f9",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Status",
        "name": "",
        "x": 590,
        "y": 280,
        "wires": [
            [
                "655e6c90f6c56fdf"
            ]
        ]
    },
    {
        "id": "4452ea626de03264",
        "type": "ui_ui_control",
        "z": "8eab0a3c643bf6ac",
        "g": "85f0a8ccb2e137f9",
        "name": "to Selection Page",
        "events": "change",
        "x": 1210,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e4efae5a0416559b",
        "type": "ui_button",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "",
        "group": "f2f686aa2b9f097c",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Selection Page",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 730,
        "y": 400,
        "wires": [
            [
                "0b59b5147c36e8e3"
            ]
        ]
    },
    {
        "id": "0b59b5147c36e8e3",
        "type": "ui_ui_control",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "",
        "events": "all",
        "x": 1000,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "655e6c90f6c56fdf",
        "type": "switch",
        "z": "8eab0a3c643bf6ac",
        "g": "85f0a8ccb2e137f9",
        "name": "If then",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "401",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 280,
        "wires": [
            [],
            [
                "fab6ba3c81d800b6"
            ]
        ]
    },
    {
        "id": "fab6ba3c81d800b6",
        "type": "change",
        "z": "8eab0a3c643bf6ac",
        "g": "85f0a8ccb2e137f9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Selection Page",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 280,
        "wires": [
            [
                "4452ea626de03264"
            ]
        ]
    },
    {
        "id": "22cb37e8560c7b3a",
        "type": "ui_button",
        "z": "8eab0a3c643bf6ac",
        "g": "0346d96b42bc27b1",
        "name": "",
        "group": "8821f8eafdf5cf1e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Production Lines",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Production Lines",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "380f85e9d66eb3bf"
            ]
        ]
    },
    {
        "id": "fb631216c054d071",
        "type": "ui_button",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "",
        "group": "8821f8eafdf5cf1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Devices",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Gx Devices",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "ab559ee6616650e4"
            ]
        ]
    },
    {
        "id": "ab559ee6616650e4",
        "type": "ui_ui_control",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "Display Devices",
        "events": "change",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "53582853cf894365"
            ]
        ]
    },
    {
        "id": "380f85e9d66eb3bf",
        "type": "ui_ui_control",
        "z": "8eab0a3c643bf6ac",
        "g": "0346d96b42bc27b1",
        "name": "to Prod Lines",
        "events": "change",
        "x": 190,
        "y": 700,
        "wires": [
            [
                "74eea60081e77078"
            ]
        ]
    },
    {
        "id": "633374ecd4636c54",
        "type": "ui_chart",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "",
        "group": "1fe72b217c0fd98c",
        "order": 7,
        "width": "22",
        "height": "4",
        "label": "Package records",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Waiting for transaction from server",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1230,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "ddcc55230b0734d7",
        "type": "ui_table",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "group": "1fe72b217c0fd98c",
        "name": "",
        "order": 14,
        "width": "22",
        "height": "4",
        "columns": [
            {
                "field": "timestamp",
                "title": "Timestamp",
                "width": "15%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "articleNumber",
                "title": "PLU#",
                "width": "10%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "customerNumber",
                "title": "Customer#",
                "width": "10%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "articleName",
                "title": "Description",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "device",
                "title": "Device",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "actualNetWeight",
                "title": "Weight",
                "width": "15%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "error",
                "title": "Error Flag",
                "width": "10%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1030,
        "y": 920,
        "wires": []
    },
    {
        "id": "543843c227a08779",
        "type": "change",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[\t{\"labels\": $$.payload.timestamp,\t\"data\":[[$$.payload.actualNetWeight]],\t\"series\":[\"weight lbs\"]\t}]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 980,
        "wires": [
            [
                "633374ecd4636c54"
            ]
        ]
    },
    {
        "id": "cee5170381dbcfea",
        "type": "function",
        "z": "8eab0a3c643bf6ac",
        "g": "85f0a8ccb2e137f9",
        "name": "build url",
        "func": "var ServerIP = msg.payload.host;\nflow.set (\"ServerIP\",ServerIP);\n\nmsg.url = \"https://\" + flow.get(\"ServerIP\") + \":9998/api/v1/token\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "e9af013e299f3822"
            ]
        ]
    },
    {
        "id": "0e8196d8614cac87",
        "type": "ui_toast",
        "z": "8eab0a3c643bf6ac",
        "g": "bec69e86cd0143f6",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "Status",
        "name": "",
        "x": 570,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "438a1ef390ea88d8",
        "type": "ui_button",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "",
        "group": "1fe72b217c0fd98c",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Selection Page",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 1060,
        "wires": [
            [
                "580e16b5abdd46d4"
            ]
        ]
    },
    {
        "id": "580e16b5abdd46d4",
        "type": "ui_ui_control",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "",
        "events": "all",
        "x": 220,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "d1eb5d49eeb349ec",
        "type": "ui_button",
        "z": "8eab0a3c643bf6ac",
        "g": "0346d96b42bc27b1",
        "name": "",
        "group": "7c885960ff9c5601",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Selection Page",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 730,
        "y": 640,
        "wires": [
            [
                "8e4d716089c72964"
            ]
        ]
    },
    {
        "id": "8e4d716089c72964",
        "type": "ui_ui_control",
        "z": "8eab0a3c643bf6ac",
        "g": "0346d96b42bc27b1",
        "name": "",
        "events": "all",
        "x": 1000,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "2fa1b034c0bfeb84",
        "type": "function",
        "z": "8eab0a3c643bf6ac",
        "g": "0346d96b42bc27b1",
        "name": "var device",
        "func": "var line = msg.payload;\nflow.set(\"line\",line);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "c0913ae221e0aae6",
        "type": "function",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "var device",
        "func": "var device = msg.payload;\nflow.set(\"device\",device);\n\nmsg.payload =\"Package Records\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 460,
        "wires": [
            [
                "c0e14ed5320e33b2"
            ]
        ]
    },
    {
        "id": "c0e14ed5320e33b2",
        "type": "ui_ui_control",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "",
        "events": "all",
        "x": 1200,
        "y": 520,
        "wires": [
            [
                "08864386c2adbc87"
            ]
        ]
    },
    {
        "id": "b6487f60490505c9",
        "type": "ui_button",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "",
        "group": "1fe72b217c0fd98c",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 1100,
        "wires": [
            [
                "cd9854e511e2da51"
            ]
        ]
    },
    {
        "id": "08864386c2adbc87",
        "type": "link out",
        "z": "8eab0a3c643bf6ac",
        "g": "f8d98a8bcd1abe89",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "2f01a6f9a03ab032"
        ],
        "x": 1325,
        "y": 520,
        "wires": []
    },
    {
        "id": "2f01a6f9a03ab032",
        "type": "link in",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "link in 1",
        "links": [
            "08864386c2adbc87"
        ],
        "x": 55,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "18899c2688504e11",
        "type": "function",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "MMDDYY",
        "func": "var start = msg.payload.start_day;\nvar startday = new Date(start);\nvar formattedDate = startday.getFullYear() + '-' + \n    ('0' + (startday.getMonth() + 1)).slice(-2) + '-' + \n    ('0' + startday.getDate()).slice(-2);\nflow.set(\"startday\", formattedDate);\n\nvar startt = msg.payload.start_time;\nvar starttime = new Date(startt).toLocaleString('en-US', { \n        hour: '2-digit', \n        minute: '2-digit', \n        second: '2-digit',\n        hour12: false});\n\nflow.set(\"starttime\",starttime);\n\nvar finish = msg.payload.finish_day;\nvar finishday = new Date(finish);\nvar formattedFinishDate = finishday.getFullYear() + '-' +\n        ('0' + (finishday.getMonth() + 1)).slice(-2) + '-' +\n        ('0' + finishday.getDate()).slice(-2);\nflow.set(\"finishday\", formattedFinishDate);\n\nvar finisht = msg.payload.finish_time;\nvar finishtime = new Date(finisht).toLocaleString('en-US', { \n        hour: '2-digit', \n        minute: '2-digit', \n        second: '2-digit',\n        hour12: false});\n\nflow.set(\"finishtime\",finishtime);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 980,
        "wires": [
            [
                "95c993db02c8d0e6"
            ]
        ]
    },
    {
        "id": "f26b6e1f0c4a5849",
        "type": "ui_form",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "",
        "label": "Date and time filter",
        "group": "1fe72b217c0fd98c",
        "order": 3,
        "width": "4",
        "height": "4",
        "options": [
            {
                "label": "Start day",
                "value": "start_day",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Start time",
                "value": "start_time",
                "type": "time",
                "required": true,
                "rows": null
            },
            {
                "label": "Finish day",
                "value": "finish_day",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Finish time",
                "value": "finish_time",
                "type": "time",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "start_day": "",
            "start_time": "",
            "finish_day": "",
            "finish_time": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 980,
        "wires": [
            [
                "18899c2688504e11"
            ]
        ]
    },
    {
        "id": "6a8e84c3b461e8a1",
        "type": "inject",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "cd9854e511e2da51",
        "type": "function",
        "z": "8eab0a3c643bf6ac",
        "g": "803e952a6482c9ec",
        "name": "now",
        "func": "var now = new Date();\nvar finisht = now.toLocaleTimeString('en-US', {\n        hour: '2-digit',\n        minute: '2-digit',\n        second: '2-digit',\n        hour12: false // This ensures the time is in 24-hour format\n});\nflow.set(\"finishtime\", finisht);\n/*\nvar finishday = new Date(finish);\nvar formattedFinishDate = finishday.getFullYear() + '-' +\n        ('0' + (finishday.getMonth() + 1)).slice(-2) + '-' +\n        ('0' + finishday.getDate()).slice(-2);\nflow.set(\"finishday\", formattedFinishDate);\n\nvar finisht = msg.payload.finish_time;\nvar finishtime = new Date(finisht).toLocaleString('en-US', { \n        hour: '2-digit', \n        minute: '2-digit', \n        second: '2-digit',\n        hour12: false});\n\nflow.set(\"finishtime\",finishtime);\n*/\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1100,
        "wires": [
            [
                "95c993db02c8d0e6"
            ]
        ]
    }
]